.flexContainer {
    display: flex;
    flex-direction:row;
}

.flexContainer div{
    border: 1px #ccc solid;
    padding: 10px;
    width: 300px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 300px);
}

.grid-container div{
    border: 1px #ccc solid;
    padding: 10px;
}